.container
  .header
    %p.header-logo
      = link_to image_tag("https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-5906d9a368d0bcdd2919553127357d4d.svg"), products_path
  .registrations-body
    .main-body
      %h1.title Edit Account
      %h5.title アカウントの編集
      = link_to "ログアウト", destroy_company_session_path, method: :delete, class: 'btn'
      = link_to "トップページに戻る", :back, class: 'btn'
      = link_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
      .company-form
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          .company-form__field
            .company-form__field--left
              = f.label :name, "会社名", class: "form-label"
            .company-form__field--right
              = f.text_field :name, autofocus: true, class: "form-input"
          .company-form__field
            .company-form__field--left
              = f.label :logo, "ロゴ", class: "form-label"
            .company-form__field--right
              = f.file_field :logo, autofocus: true, class: "form-logo"
          .company-form__field
            .company-form__field--left
              = f.label :address, "住所", class: "form-label"
            .company-form__field--right
              = f.text_field :address, autofocus: true, class: "form-input"
          .company-form__field
            .company-form__field--left
              = f.label :email, "Email", class: "form-label"
            .company-form__field--right
              = f.email_field :email, autofocus: true, class: "form-input"
          .company-form__field
            .company-form__field--left
              = f.label :password, "Password", class: "form-label"
            .company-form__field--right
              = f.password_field :password, placeholder: "変更したくない場合は空白にしてください", autocomplete: "off", class: "form-input"
          .company-form__field
            .company-form__field--left
              = f.label :current_password, "現在のPassword", class: "form-label"
            .company-form__field--right
              = f.password_field :current_password, placeholder: "変更には現在のパスワードの入力が必要です", autocomplete: "off", class: "form-input"
          .company-form__field
            .submit-action
              = f.submit "更新する", class: "btn"
