.header
  %p.header-logo
    = link_to image_tag("https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-5906d9a368d0bcdd2919553127357d4d.svg"), products_path
  .global-menu
    %ul.user-menus
      %li.user-menu
        = link_to products_path do
          %p 募集をみる
      %li.user-menu
        %p プロフィール
      - if company_signed_in?
        %li.user-menu
          = link_to new_product_path do
            %p 投稿する
        %li.user-menu
          = link_to "/companies/#{current_company.id}/members/new", method: :get do
            %p 社員を追加する
    = form_for @company do |f|
      .search-form__field
        = f.text_field :name, placeholder: "会社名を入力してください"
        %button.search-form__btn
          %i.fa.fa-search
    .user-profile-photo
      = image_tag current_company.logo
    %ul.notifications
      %li.notification
        = link_to edit_company_registration_path do
          %i.fa.fa-cog
      %li.notification
        %i.fa.fa-globe
      %li.notification
        %i.fa.fa-user
